@import '../../sass-mix/popMixin';
@include base-btn;

main > section > a{
    text-decoration: none;
    @include flexCenter;
    margin-bottom: 50px;

    h1{
        color: var(--mainTxt-color);
        width: fit-content;
        height: fit-content;
        padding: 20px;
        border-radius: 10px;
    }
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 1vh;
    max-width: 150ch;
    min-height: 80vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

div.button-panle{
    display: flex;
    align-items: center;
    gap: 15px;

    border-radius: 2px;
    padding: 15px;
    background-color: var(--secondBG-color);
    box-shadow: inset 2px 2px 10px #000000c5;
    $border-thickness: 2px;
    $border-color: rgba(0, 0, 0, 0.589);
    border: 1px solid $border-color !important; 
    border-top: $border-thickness solid $border-color !important;    
    border-left: $border-thickness solid $border-color !important;

    button{
        font-size: 1.5em;
        padding: 5px 10px 5px 10px;
        color: var(--mainTxt-color);
    }
    button:hover{
        transform: scale(1.05);
    }
}

.codex-editor{
    background-color: rgb(204, 204, 204);
    padding: 1rem;
    
    border-radius: 2px;
    box-shadow: inset 2px 2px 10px #000000c5;
    $border-thickness: 2px;
    $border-color: rgba(0, 0, 0, 0.589);
    border: 1px solid $border-color !important; 
    border-top: $border-thickness solid $border-color !important;    
    border-left: $border-thickness solid $border-color !important;
}

.codex-editor__redactor{
    padding-bottom: 100px !important;
}