@import '../../sass-mix/popMixin';

#editorjs {
    color: snow;
    background-color: var(--mainBG-color);
    height: fit-content;
    width: fit-content;
    margin: 30px auto 30px auto;
    padding: 10px;
    border-radius: 20px;
    @include shellOutline;
}

.codex-editor__redactor {
    margin: 20px;
}

.simple-image {
    padding: 20px 0;
}

.simple-image input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}