
/* Top-Level Formating */
#charSheetRoot{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 5px;
  padding: 10px;
}

.Top-level__Ctrl-panl{
  display: flex;
  justify-content: space-between;
  button{
    margin: 5px;
  }
}

.Char-Builder_Header{
  margin: 10px;
  margin-top: 30px;
}

.Char-Builder_Point-Counter{
  border: 3px solid red;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  margin: 2px;
}
.Char-Builder_Point-Counter > *{
  margin: 0 5px;    
}
.Char-Builder_Bonus-Point-Counter{
  position: sticky;
  align-self: flex-end;
  right: 30px;
  top: 30px;
  z-index: 2;
}

/* Hover Tool Tips */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Aptitudes Section */
.character-aptitudes{
  display: flex;  
}

.single-aptitude{
  display: grid;  
  grid-template-rows: 1fr 1fr 1fr 1fr;  
}

.single-aptitude > p{
  margin: 0;
  border-bottom: 1px solid black;
}

.character-aptitudes, .aptitudes-input{
  font-size: 1.25em;
}

/* Skills Section*/
.skill_block {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid red;
  width: 50%;
  max-height: 80vh;
}

.skill_scroll-block{
  overflow-y: auto;
}

.skill_row {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 2fr 2fr 2fr;
  border-bottom: 1px solid black;
}

.skill_row > * {
  height: 100%;
  margin: 0;
  padding: 3px;
  font-size: 0.85em;
}

.skill_cell, .skill_input{
  text-align: center;
}
.skill_input{
  box-shadow: inset 2px 2px 2px rgba(65, 65, 65, 0.527);
  font-weight: bold;
  font-size: 1em;
}

.skill_text{
  text-align: end;
}

.skill_template-label{
  display: flex;
  justify-content: flex-end;
}

.skill_template-label > *{
  margin-left: 5px;
}

.skill_header{
  font-weight: bold;
  background-color: rgb(124, 124, 124);
  border: 2px solid black;
  padding: none;
}

/* Background Section */
.char-bckgrnd{
  border: 1px solid black;
  padding: 10px;
  width: 80ch;
  *{
    margin: 5px;
  }
  button{
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.char-bckgrnd_highlight{
  box-shadow: inset 0px 0px 150px rgba(180, 153, 0, 0.404);
}

.char-bckgrnd > h2{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.char-bckgrnd__main-selector, .char-bckgrnd__skill-line{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.char-bckgrnd__main-selector{
  border: 1px solid red;
  width: 40ch;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.char-bckgrnd__skill-line{
  border: 1px solid green;
  width: 40ch;
}
.char-bckgrnd__skill-line > strong > select{
  margin-left: 5px;
}

.bounsExp_input{
  display: flex;
  border-top: 1px solid black;
  padding-top: 2px;
  margin: 15px 0 0 0;
  *{margin: 0 5px;}
  input{
    width: 12ch;
  }
}

.bounsExp_costs{
  margin: 0 0 0 2ch;
  display: flex;
  *{margin: 0 5px;}
}

/*Character Display Page*/
.Char-dsply__Main-Cont{
  position: relative;
}

.Char-dsply__Main-Cont > * {
  margin-bottom: 10px;
}

.Char-dsply__Wpt-Dsply{
  display: flex;
  flex-direction: column;
  span{
    display: grid;
    grid-template-columns: 1.7fr 4fr 4fr 2fr 2fr 3fr 3fr 3fr 8fr 1fr;
    gap: 1px;
    margin-bottom: 5px;

    height: fit-content;
    *{
      width: 100%;
      border: 1px solid black;
      border-radius: 2px;
      height: 1.75em;
    }
    input, textarea{      
      padding: 5px;
      font-size: 0.7em;
    }
    textarea{
      overflow-x: auto;
    }
    button:focus{
      outline: none;
    }
    button:hover{
      transform: scale(1.1);
    }
    .button-container{
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row-reverse;
      border: none;
      height: fit-content;
    }
    .add-Weapon, .delete-Weapon{
      font-family: 'Times New Roman', Times, serif;
      opacity: 0;
      height: 1.5em;
      width: 1.5em;
      border-radius: 50%;
      color: white;
      font-weight: bold;
      transition-property: opacity;
      transition-duration: 750ms;
      padding: 0;
    }
    .add-Weapon{
      background-color: rgb(25, 145, 45);
    }
    .delete-Weapon{
      background-color: rgb(184, 22, 54);
    }
  }
  span:hover .button-container .add-Weapon{
    opacity: 1;
  }
  span:hover .button-container .delete-Weapon{
    opacity: 1;
  }
  .Char-dsply__Wpt-Head{
    p{      
      font-weight: bold;
      font-size: 1em;
      padding: 5px;
    }
    .place-holder{ border: none;}
  }
}

.Char-dsply__Apt-dsply{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
  .Char-dsply__Apt-column{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    *{
      text-align: center;
      border: 1px solid black;
    }
  }
}

.Char-dsply__Skill-dsply{
  width: 100%;
  flex-grow: 1;
  .skill_header{
    .skill_cell{
      border-left: 1px solid black;
    }
  }
  .skill_Main{
    font-weight: bold;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 1.2em;
  }
}

.Char-dsply__Section-One{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 5px;
  height: fit-content;
  div{
    margin-bottom: 5px;
  }
}

.Char-dsply__Profile{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 2px;
  width: 100%;
}

.Char-dsply__Health__Head{
  font-size: 1.25em;
  text-align: center;

  border: 2px solid black;
  width: 100%;
}

.Char-dsply__Health{
  div{
    border: 1px solid black;
    background-color: rgb(107, 107, 107);
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 1em;
    margin-bottom: 5px;
    strong{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 1em;
    }
    p, input{
      display: flex;
      align-items: center;

      margin: 5px;
      width: 70%;
      border-radius: 3px;
    }
    p{
      border: none;
      background-color: rgb(194, 194, 194);
      font-weight: bold;
    }
    input{
      background-color: rgb(255, 255, 255);
      border: 2px solid black;
    }
  }
}