
/* Top-Level Formating */
#charSheetRoot{
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.651);
  border-radius: 5px;
  padding: 10px;
}

.Char-Builder_Header{
  margin: 10px;
  margin-top: 30px;
}

.Char-Builder_Point-Counter{
  border: 3px solid red;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  margin: 2px;
}
.Char-Builder_Point-Counter > *{
  margin: 0 5px;    
}
.Char-Builder_Bonus-Point-Counter{
  position: sticky;
  align-self: flex-end;
  right: 30px;
  top: 30px;
  z-index: 2;
}

/* Hover Tool Tips */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;

  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Aptitudes Section */
.character-aptitudes{
  display: flex;  
}
.single-aptitude{
  display: grid;  
  grid-template-rows: 1fr 1fr 1fr 1fr;  
}
.single-aptitude > p{
  margin: 0;
  border-bottom: 1px solid black;
}

.character-aptitudes, .aptitudes-input{
  font-size: 1.25em;
}

/* Skills Section*/
.skill_block {
  display: inline-flex;
  flex-direction: column;
  border: 1px solid red;
  width: 50%;
}

.skill_scroll-block{
  overflow-y: auto;
  max-height: 85vh;
}

.skill_row {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr 2fr 2fr 2fr;
  border-bottom: 1px solid black;
}

.skill_row > * {
  height: 100%;
  margin: 0;
  padding: 3px;
  font-size: 0.85em;
}

.skill_cell, .skill_input{
  text-align: center;
}
.skill_input{
  box-shadow: inset 2px 2px 2px rgba(65, 65, 65, 0.527);
  font-weight: bold;
  font-size: 1em;
}

.skill_text{
  text-align: end;
}

.skill_template-label{
  display: flex;
  justify-content: flex-end;
}

.skill_template-label > *{
  margin-left: 5px;
}

.skill_header{
  font-weight: bold;
  background-color: rgb(124, 124, 124);
  padding-right: 20px;
  border: 2px solid black;
}

/* Background Section */
.char-bckgrnd{
  border: 1px solid black;
  padding: 10px;
  width: 80ch;
  *{
    margin: 5px;
  }
  button{
    padding: 5px;
    font-size: 1.25em;
    font-weight: bold;
  }
}
.char-bckgrnd > h2{
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.char-bckgrnd__main-selector, .char-bckgrnd__skill-line{
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.char-bckgrnd__main-selector{
  border: 1px solid red;
  width: 40ch;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.char-bckgrnd__skill-line{
  border: 1px solid green;
  width: 40ch;
}
.char-bckgrnd__skill-line > strong > select{
  margin-left: 5px;
}

.bounsExp_input{
  display: flex;
  border-top: 1px solid black;
  padding-top: 2px;
  margin: 15px 0 0 0;
  *{margin: 0 5px;}
  input{
    width: 12ch;
  }
}

.bounsExp_costs{
  margin: 0 0 0 2ch;
  display: flex;
  *{margin: 0 5px;}
}