@import '../../sass-mix/popMixin';

form{
    width: fit-content;
    border-radius: 20px;
    padding: 1.5em;
    h1{
        margin-bottom: 1em;
    }
    .form-frame{
        display: grid;
        grid-template-columns: 2fr 5fr;
        gap: 0.5em;
    }
    button{
        margin-top: 1em;
        border-radius: 5px;
        font-size: 1.5em;
        padding: 0 0.5em 0 0.5em;
    }
}

.form-comp{
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 0.5em;

    .error-field{
        color: red;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 300;
        margin-bottom: 1em;
    }
}

#userNotice{
    @include flexCenter;
    display: none;
    padding: 10px;
    border-radius: 20px;
    margin-left: 3vw;
    max-width: 40ch;
}