@import '../../sass-mix/popMixin';

.main-content{
    @include flexCenter
}

form{
    width: fit-content;
    border-radius: 20px;
    padding: 1.5em;
    h1{
        margin-bottom: 1em;
    }
}

.form-comp{
    display: grid;
    grid-template-columns: 2fr 5fr;
    gap: 0.5em;
    *{
        min-height: 1.25em;
        font-size: 1.25em;
        border-radius: 4px;
        padding: 2px;
        em{
            font-size: .9em;
        }
    }
}

form > button{
    height: fit-content;
    width: fit-content;
    border-radius: 5px;
    font-size: 1.5em;
    padding: 0.25em 0.5em 0.25em 0.5em;
}

.error-field{
    color: red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    margin: 0.25em;
}

#userNotice{
    @include flexCenter;
    display: none;
    padding: 10px;
    border-radius: 20px;
    margin-left: 3vw;
    max-width: 40ch;
}