.main-content {
    background-color: khaki;
    position: relative;
    width: 100%;
    display: flex;

    section{            
        background-color: lightcoral;
        flex-basis: 100%;
        margin: 3px;
        justify-content: space-between;
    }
}

.brief-blog {
    margin: 3px;
    height: fit-content;
    width: fit-content;
    max-width: 25vw;
    text-decoration: none;
    color: black;
}