@import '../../sass-mix/popMixin';

.main-content {
    background-color: chartreuse;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brief-blog {
    border: 1px solid black;
    margin: 3px;
    height: 150px;
    width: 100%;
}