@import '../../sass-mix/popMixin';

.main-content {
    background-color: var(--mainBG-color);
    color: var(--mainTxt-color);

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}

.brief-blog {
    border: 1px solid black;
    margin: 3px;
    height: fit-content;
    width: fit-content;
    max-width: 25vw;
    text-decoration: none;
    color: var(--mainTxt-color);
}