@import '../../sass-mix/popMixin';
@import 'mainbase_header-footer';
@include header-footer;

:root{ 
    //Back Ground Color
    --mainBG-color: rgb(39, 38, 36);
    --mainBG-offset-color: rgb(49, 45, 38);
    --secondBG-color: rgb(7, 57, 114);
    //Text Color
    --mainTxt-color: rgb(255, 250, 250);
    --scndryTxt-color: rgb(11, 21, 54);
    --scndryTxt-shadow: rgba(11, 21, 54, 0.692);    
    //Misc.
    --mainHL-color: rgba(255, 255, 255, 0.377);
    --mainAlertColor: rgb(255, 64, 0);
    //Sizing
    --footer-height: 300px;
    @media only screen and (max-width: 600px) {
        --footer-height: 500px;
    }
    --header-height: 100px;
    --main-min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

@font-face {
    font-family: 'roboto_slabregular';
    src: url('/fonts/Roboto_Slab/robotoslab-variablefont_wght-webfont.woff2') format('woff2'),
         url('/fonts/Roboto_Slab/robotoslab-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'roboto_slabregular', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--mainBG-color);
    position: relative;
}

@include base-btn;

main {
    display: flex;
    min-height: var(--main-min-height);
    padding: 30px;
}

.main-content {    
    width: 100%;
}

#background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;


    background-image: url("/img/pexels-eva-elijas-5949511_HX1500.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: -1;
}

.shadow-block {
    color: var(--mainTxt-color);
    background-color: var(--mainBG-color);
    box-shadow: 1px 1px 4px var(--mainHL-color);
    border-right: 1px solid rgba(255, 255, 255, 0.75);
    border-bottom: 1px solid rgba(255, 255, 255, 0.55);
    transition-property: box-shadow, border-right, border-bottom, transform;
    transition-duration: 300ms;
}

.reactive-block:hover {
    box-shadow: 2px 3px 7px var(--mainHL-color);
    border-right: 1px solid rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.65);
    transform: scale(1.005);
}

/* Character Sheet eventual this will be move to another file */


/* Top-Level Formating */
#charSheetRoot{
    background-color: rgba(209, 209, 209, 0.534);
    border-radius: 5px;
    padding: 10px;
  }
  
  .Char-Builder_Header{
    margin: 10px;
    margin-top: 30px;
  }
  
  .Char-Builder_Point-Counter{
    border: 3px solid red;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    padding: 5px;
    background-color: rgb(228, 228, 228);
  }
  .Char-Builder_Point-Counter > *{
    margin: 0 5px;    
  }
  
  
  /* Hover Tool Tips */
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  /* Aptitudes Section */
  .character-aptitudes{
    display: flex;  
  }
  .single-aptitude{
    display: grid;  
    grid-template-rows: 1fr 1fr 1fr 1fr;  
  }
  .single-aptitude > p{
    margin: 0;
    border-bottom: 1px solid black;
  }
  
  .character-aptitudes, .aptitudes-input{
    font-size: 1.25em;
  }
  
  /* Skills Section*/
  .skill_block {
    display: flex;
    flex-direction: column;
    width: 80ch;
    border: 1px solid red;
  }
  
  .skill_row {
    display: grid;
    grid-template-columns: 5fr 2fr 2fr 2fr 2fr 2fr;  
  }
  
  .skill_row > * {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    margin: 0;
    padding: 5px;
  }
  
  .skill_cell, .skill_input{
    text-align: center;
  }
  .skill_input{
    box-shadow: inset 2px 2px 2px rgba(65, 65, 65, 0.527);
    font-weight: bold;
    font-size: 1em;
  }
  
  .skill_text{
    text-align: end;
  }
  
  .skill_template-label{
    display: flex;
    justify-content: flex-end;
  }
  
  .skill_template-label > *{
    margin-left: 5px;
  }
  
  .skill_header{
    font-weight: bold;
    background-color: rgb(124, 124, 124);
  }
  
  /* Background Section */
  .char-bckgrnd{
    border: 1px solid black;
    padding: 10px;
    width: 80ch;
  }
  .char-bckgrnd > h2{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .char-bckgrnd__main-selector, .char-bckgrnd__skill-line{
    display: flex;
    justify-content: space-between;
    padding: 5px;
  }
  .char-bckgrnd__main-selector{
    border: 1px solid red;
    width: 30ch;
    margin-left: auto;
    margin-right: auto;
  }
  .char-bckgrnd__skill-line{
    border: 1px solid green;
    width: 40ch;
  }
  .char-bckgrnd__skill-line > strong > select{
    margin-left: 5px;
  }