@import '../../sass-mix/popMixin';

:root{
    --mainBG-color: rgb(39, 38, 36);
    --secondBG-color: rgb(10, 35, 63);
    --mainHL-color: rgba(255, 255, 255, 0.377);
    --mainTxt-color: rgb(51, 83, 189);

    --footer-height: 200px;
    --header-height: 75px;
    --main-min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;

    div{
        position: relative;
        display: flex;
        justify-content: start;
        gap: 20px;
        a{
            color: var(--mainTxt-color);
            font-size: 1.5em;
        }
    }
    left: 0;
    right: 0;
    top: 0;
    height: 75px;
    background-color: var(--secondBG-color);
    color: var(--mainTxt-color);
    .logOpsBox{
        display: flex;
    }
}

main {
    position: relative;
    display: flex;
    background-color: var(--mainBG-color);
    min-height: var(--main-min-height);
    nav {
        display: none;
        // display: flex;
        flex-direction: column;
        min-width: 200px;
        width: 20vw;
        background-color: honeydew;
        ul {
            list-style-type: none;
            list-style-type: none;
            left: 0;
            right: 0;
            li {
                border: 1px solid blue;
                margin: 2px;
            }
        }
    }
}

.main-content {    
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondBG-color);
    height: 200px;
    padding: 20px;
    ul {
        list-style-type: none;
        list-style-position: outside;
        li {
            text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.411);
            font-size: 1.5em;
            line-height: 1.5;
        }
    }
}