footer.mb-header-footer
  block foot
    #innerFoot
      ul.footer-list
        strong My Acounts
        li 
          a(href='https://github.com/seanDuncanPurcell') GitHub
        li 
          a(href='https://www.linkedin.com/in/sean-purcell-39a3a424/') LinkedIn
        li 
          a(href='https://www.facebook.com/Ajutant') FaceBook
        li 
          a(href='https://www.instagram.com/sean_and_dog/') Instagram
      
      ul.footer-list
        strong Web Dev. Reference
        li 
          a(href='http://developer.mozilla.org/') MDN Web Docs
        li 
          a(href='https://www.freecodecamp.org/') FreeCodeCamp
        li 
          a(href='https://www.programmableweb.com/') programmableWeb