footer
  block foot
    ul.footer-list
      li GitHub
      li LinkedIn
      li FaceBook
      li Instagram
    
    ul.footer-list
      li MDN Web Docs
      li FreeCodeCamp
      li programmableWeb