
if(postBriefs)
    each item in postBriefs
        a(href='/blog/article?id=' + item.id class="shadow-block reactive-block brief-blog")
            h1 #{item.title}
            p #{item.summery}
else
    p Dang! I couldn't find any blogs ¯\_(ツ)_/¯