
if(postBriefs)
    each item in postBriefs
        a.brief-blog(href='/blog/article?id=' + item.id)
            h1 #{item.title}
            p #{item.summery}
else
    p Dang! I could find any blogs ¯\_(ツ)_/¯