
if(postBriefs)
    each item in postBriefs
        a.post-briefs(href='/blog/article?id=' + item.id)
            h1 #{item.title}
            p #{item.summery}
else
    p Dang! I couldn't find any blogs ¯\_(ツ)_/¯