#projectCards
  if admin
    a.project-card(href='/')
      .card-front
        img.card-image(src='/img/icon-svg/code.svg' , alt='angle brackets enclosing a forward slash')
        h2 Create A New Project Card
      .card-back
        h2 Create A New Project Card
        p This is not a project! It is, in fact, just a link to a form that will allow you to creat new project cards.
  
  if projectCards
    each item in projectCards.projects
      a.project-card(href=item.url)
        .card-front
          if item.img.src
            img.card-image(src= item.img.src, alt= item.img.alt)
          else
            img.card-image(src='/img/icon-svg/code.svg' , alt='angle brackets enclosing a forward slash')
          h2= item.name
        .card-back
          h2= item.name
          p!= item.description
  else
    p Oh! this is emberissing... (⁄ ⁄•⁄ω⁄•⁄ ⁄) there doesn't seem to be anything here.
