[submodule "public/projects/black-jack"]
	path = public/projects/black-jack
	url = https://github.com/seanDuncanPurcell/Cards-Games.js.git
[submodule "public/projects/eclipsephase_character-gen"]
	path = public/projects/eclipsephase_character-gen
	url = https://github.com/seanDuncanPurcell/eclipsephase_character-gen.git
