extends main-base.pug

block append style
    link(rel="stylesheet", href="/css/home-body.css")

block localNav
    ul
        li test 1
        li test 2
        li test 3

block content
    section#blog
        a(href="/blog" class="linkTitle")
            h2 Alcodeimy Blog
        include includes/postBriefs
    section#projects
        a(href="/projects" class="linkTitle")
            h2 Software Projects