extends main-base.pug

block append style
    link(rel="stylesheet", href="/css/home-body.css")

block content
    section#blog(class="shadow-block")
        a(href="/blog" class="shadow-block reactive-block linkTitle")
            h2 Alcodeimy Blog            
        include includes/postBriefs

    section#projects(class="shadow-block")
        a(href="/projects" class="shadow-block reactive-block linkTitle")
            h2 Software Projects
        include includes/projectCards