-var welcome = 'Welcome '
if(!username)
  -var username = 'Guest'
-var greeting = welcome + username + '!'

html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block style
      link(rel="stylesheet", href="/css/main-base.css")
    title Alcodeimy

  body
    #background

    block landing

    include includes/header.pug
    
    main
      //- img(src="/img/pexels-eva-elijas-5949511_HX1500.jpg", alt="Water Drops on Screen")
      nav#sideNav
        block localNav
      section.main-content
        block content
    include includes/footer.pug

    block scripts
      script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
      script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)
      script(src="/scripts/main-base.js" type='module')
      script(src="/scripts/react-user-menu.js")      
      script(src="/scripts/react-nav-menu.js")