-var welcome = 'Welcome '
if(!username)
  -var username = 'Guest'
-var greeting = welcome + username + '!'

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block style
      link(rel="stylesheet", href="/css/main-base.css")
    title Alcodeimy
  body
    include includes/header.pug
    main
      nav#sideNav
        block localNav
      section.main-content
        block content
    include includes/footer.pug
    block scripts
      script(src="/scripts/main-base.js" type='module')