-var welcome = 'Welcome '
if(!username)
  -var username = 'Guest'
-var title = welcome + username + '!'

html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    block style
      link(rel="stylesheet", href="/css/main-base.css")
    title "Alcodeimy"
  body
    header
      a(href="/") Home
      a(href="/blog") Blog
      a(href="/projects") Projects
      a(href="/bio") Bio
      h1= title
      if (loggedin)
        a(href='/?out=true') Log Out
      else
        .logOpsBox
          a(href='/login') Log In
          p |
          a(href='/register') Creat a New Account
    main
      nav#sideNav
        block localNav
      section.main-content
        block content
    footer
      h1= 'admin is ' + admin
      block foot
        p This is the foot
    block scripts
      script(src="/scripts/main-base.js")