-var title = 'Alcodemist'
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="/img/icon-svg/code.svg", type="image/x-icon")
    block style
      link(rel="stylesheet", href="/css/main-base.css")
    title= title

  body
    #background

    block landing

    include includes/header.pug
    
    main
      section.main-content
        block content
  
    include includes/footer.pug

    block scripts
      script(src="https://unpkg.com/react@17/umd/react.production.min.js" crossorigin)
      script(src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" crossorigin)
      script(src="/scripts/main-base.js" type='module')
      script(src="/scripts/react-user-menu.js")
      script(src="/scripts/react-nav-menu.js")