/* Top-Level Formating */
#charSheetRoot {
  background-color: rgba(209, 209, 209, 0.534);
  border-radius: 5px;
  padding: 10px;
}

.Char-Builder_Header {
  margin: 10px;
  margin-top: 30px;
}

.Char-Builder_Point-Counter {
  border: 3px solid red;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  background-color: #e4e4e4;
}

.Char-Builder_Point-Counter > * {
  margin: 0 5px;
}

/* Hover Tool Tips */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* Aptitudes Section */
.character-aptitudes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single-aptitude {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
}

.single-aptitude > p {
  margin: 0;
  border-bottom: 1px solid black;
}

.character-aptitudes, .aptitudes-input {
  font-size: 1.25em;
}

/* Skills Section*/
.skill_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80ch;
  border: 1px solid red;
}

.skill_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5fr 2fr 2fr 2fr 2fr 2fr;
      grid-template-columns: 5fr 2fr 2fr 2fr 2fr 2fr;
}

.skill_row > * {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 100%;
  margin: 0;
  padding: 5px;
}

.skill_cell, .skill_input {
  text-align: center;
}

.skill_input {
  -webkit-box-shadow: inset 2px 2px 2px rgba(65, 65, 65, 0.527);
          box-shadow: inset 2px 2px 2px rgba(65, 65, 65, 0.527);
  font-weight: bold;
  font-size: 1em;
}

.skill_text {
  text-align: end;
}

.skill_template-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.skill_template-label > * {
  margin-left: 5px;
}

.skill_header {
  font-weight: bold;
  background-color: #7c7c7c;
}

/* Background Section */
.char-bckgrnd {
  border: 1px solid black;
  padding: 10px;
  width: 80ch;
}

.char-bckgrnd > h2 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.char-bckgrnd__main-selector, .char-bckgrnd__skill-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
}

.char-bckgrnd__main-selector {
  border: 1px solid red;
  width: 30ch;
  margin-left: auto;
  margin-right: auto;
}

.char-bckgrnd__skill-line {
  border: 1px solid green;
  width: 40ch;
}

.char-bckgrnd__skill-line > strong > select {
  margin-left: 5px;
}
