:root {
  --mainBG-color: rgb(39, 38, 36);
  --mainBG-offset-color: rgb(34, 33, 31);
  --secondBG-color: rgb(11, 53, 100);
  --mainTxt-color: rgb(255, 250, 250);
  --scndryTxt-color: rgb(11, 21, 54);
  --scndryTxt-shadow: rgba(11, 21, 54, 0.692);
  --mainHL-color: rgba(255, 255, 255, 0.377);
  --footer-height: 200px;
  --header-height: 75px;
  --main-min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

@font-face {
  font-family: 'roboto_slabregular';
  src: url("robotoslab-variablefont_wght-webfont.woff2") format("woff2"), url("robotoslab-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto_slabregular', 'Arial Narrow', Arial, sans-serif;
}

header {
  left: 0;
  right: 0;
  top: 0;
  height: 75px;
  background-color: var(--secondBG-color);
  color: var(--mainTxt-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  color: var(--scndryTxt-color);
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
}

header div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 35%;
          flex: 1 1 35%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}

header div a {
  color: var(--scndryTxt-color);
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
  font-size: 1.5em;
}

header h1 {
  color: var(--scndryTxt-color);
  text-align: center;
}

header .logOpsBox {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--main-min-height);
  outline: var(--mainBG-offset-color) solid 5px;
  outline-offset: 5px;
  background-color: var(--mainBG-offset-color);
}

main nav {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 200px;
  width: 20vw;
}

main nav ul {
  list-style-type: none;
  list-style-type: none;
  left: 0;
  right: 0;
}

main nav ul li {
  border: 1px solid blue;
  margin: 2px;
}

.main-content {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: var(--secondBG-color);
  height: 200px;
  padding: 20px;
}

footer ul {
  list-style-type: none;
  list-style-position: outside;
}

footer ul li {
  color: var(--scndryTxt-color);
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
  font-size: 1.5em;
  line-height: 1.5;
}

.shadow-block {
  color: var(--mainTxt-color);
  background-color: var(--mainBG-color);
  -webkit-box-shadow: 1px 1px 4px var(--mainHL-color);
          box-shadow: 1px 1px 4px var(--mainHL-color);
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  -webkit-transition-property: border-right, border-bottom, -webkit-box-shadow, -webkit-transform;
  transition-property: border-right, border-bottom, -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, border-right, border-bottom, transform;
  transition-property: box-shadow, border-right, border-bottom, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.reactive-block:hover {
  -webkit-box-shadow: 2px 3px 7px var(--mainHL-color);
          box-shadow: 2px 3px 7px var(--mainHL-color);
  border-right: 1px solid rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}
/*# sourceMappingURL=main-base.css.map */