header.mb-header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--header-height);
  padding: 1em 1.5em 1em 1.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--scndryTxt-color);
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
}

header.mb-header-footer #header-left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
}

header.mb-header-footer #header-center {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header.mb-header-footer #header-center a {
  color: var(--scndryTxt-color);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.658);
}

header.mb-header-footer #header-center a h1 {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 2.5em;
}

@media only screen and (max-width: 355px) {
  header.mb-header-footer #header-center a h1 {
    font-size: 1.5em;
  }
}

header.mb-header-footer #header-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: auto;
}

header.mb-header-footer > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#user-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75em;
  top: 0;
  right: 0;
  z-index: 2;
}

#user-menu * {
  width: auto;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  border: none;
}

#user-menu * #userName {
  position: absolute;
  background-color: var(--mainAlertColor);
  width: 16ch;
  height: 50px;
  margin-top: 5px;
  -webkit-transform: translateX(-15ch);
          transform: translateX(-15ch);
  z-index: -1;
  border-radius: 5px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  font-weight: 750;
}

#nav-menu {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75em;
  top: 0;
  left: 0;
  z-index: 2;
}

#nav-menu * {
  width: auto;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

footer.mb-header-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: var(--footer-height);
  padding: 20px;
}

footer.mb-header-footer #innerFoot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  width: 100%;
  padding: 20px;
  margin: 10px;
}

footer.mb-header-footer #innerFoot ul {
  list-style-position: inside;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40%;
          flex: 1 1 40%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 20px;
}

footer.mb-header-footer #innerFoot ul strong {
  text-decoration: underline;
  font-size: 1.5em;
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
}

footer.mb-header-footer #innerFoot ul li {
  color: var(--scndryTxt-color);
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
  line-height: 1.75;
}

footer.mb-header-footer #innerFoot ul li a {
  text-decoration: none;
  color: var(--scndryTxt-color);
  text-shadow: 1px 1px 2px var(--scndryTxt-shadow);
  font-size: 1.15em;
}

footer.mb-header-footer #innerFoot ul li a:hover {
  text-decoration: line-through;
}

footer.mb-header-footer #innerFoot ul li a:visited {
  text-decoration: line-through;
}

.mb-header-footer {
  background-color: var(--secondBG-color);
  outline: var(--secondBG-color) solid 5px;
  outline-offset: 5px;
}

footer.project-deets {
  background-color: #f3eae3;
  font-size: 1em;
  padding: 0.5em;
}

:root {
  --mainBG-color: rgb(39, 38, 36);
  --mainBG-offset-color: rgb(49, 45, 38);
  --secondBG-color: rgb(7, 57, 114);
  --mainTxt-color: rgb(255, 250, 250);
  --scndryTxt-color: rgb(11, 21, 54);
  --scndryTxt-shadow: rgba(11, 21, 54, 0.692);
  --mainHL-color: rgba(255, 255, 255, 0.377);
  --mainAlertColor: rgb(255, 64, 0);
  --footer-height: 300px;
  --header-height: 100px;
  --main-min-height: calc(100vh - var(--footer-height) - var(--header-height));
}

@media only screen and (max-width: 600px) {
  :root {
    --footer-height: 500px;
  }
}

@font-face {
  font-family: 'roboto_slabregular';
  src: url("/fonts/Roboto_Slab/robotoslab-variablefont_wght-webfont.woff2") format("woff2"), url("/fonts/Roboto_Slab/robotoslab-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'roboto_slabregular', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--mainBG-color);
  position: relative;
}

.btn-lvl-one {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: var(--mainBG-offset-color);
  border: none;
  border-radius: 5%;
  padding: 10px;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}

.btn-lvl-one img {
  height: 40px;
  width: 40px;
}

a.btn-lvl-one {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--mainTxt-color);
}

.btn-lvl-one:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
}

.btn-lvl-one:focus {
  outline: none;
}

.btn-case {
  background: none;
}

.btn-case:focus {
  outline: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: var(--main-min-height);
  padding: 30px;
}

.main-content {
  width: 100%;
}

#background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("/img/pexels-eva-elijas-5949511_HX1500.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  z-index: -1;
}

.shadow-block {
  color: var(--mainTxt-color);
  background-color: var(--mainBG-color);
  -webkit-box-shadow: 1px 1px 4px var(--mainHL-color);
          box-shadow: 1px 1px 4px var(--mainHL-color);
  border-right: 1px solid rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.55);
  -webkit-transition-property: border-right, border-bottom, -webkit-box-shadow, -webkit-transform;
  transition-property: border-right, border-bottom, -webkit-box-shadow, -webkit-transform;
  transition-property: box-shadow, border-right, border-bottom, transform;
  transition-property: box-shadow, border-right, border-bottom, transform, -webkit-box-shadow, -webkit-transform;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.reactive-block:hover {
  -webkit-box-shadow: 2px 3px 7px var(--mainHL-color);
          box-shadow: 2px 3px 7px var(--mainHL-color);
  border-right: 1px solid rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}
