html {
  scroll-behavior: smooth;
}

p, em {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content > * {
  width: auto;
  margin: 3px;
  height: 75vh;
}

.splash-img {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.splash-img img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.splash-img figurecaption {
  text-align: center;
  padding: 15px;
  width: 50%;
  font-weight: 5px;
  font-size: 3em;
  border: 15px solid black;
  background-color: rgba(245, 245, 245, 0.63);
  z-index: 1;
}

.splash-img a {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 10px;
  bottom: 0;
  height: 75px;
  width: 75px;
  z-index: 2;
  color: blanchedalmond;
  background-color: black;
  text-decoration: none;
  border-radius: 10px 10px 0 0;
}

section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#bio-n-contacts > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

#bio-n-contacts {
  margin: 2vw 1.5vw 0 1vw;
  gap: 1.5vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#bio-n-contacts p, #bio-n-contacts em {
  font-size: 0.90em;
}

#bio-n-contacts strong {
  font-size: 1.2em;
}

#bio-n-contacts figure {
  position: relative;
  height: 45vw;
}

#bio-n-contacts figure img, #bio-n-contacts figure figurecaption {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

#bio-n-contacts figure figurecaption {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5vw;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 235, 205, 0.61);
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-radius: 5px;
}

.infoBlob {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 7fr;
      grid-template-columns: 2fr 7fr;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px;
  color: var(--mainTxt-color);
  border-radius: 20px;
}

.infoBlob strong {
  text-align: center;
  height: auto;
  font-size: 1.5em;
  margin: 0;
}

.infoBlob div, .infoBlob p {
  padding-left: 5px;
}

.infoBlob div > p {
  margin: 0;
  display: inline;
}

.infoBlob div > em {
  margin: 0;
  font-style: normal;
  font-weight: 750;
}

div.filler-b, .text-blob {
  border-top: 5px solid var(--secondBG-color);
  padding-top: 5px;
  color: var(--mainTxt-color);
  margin-bottom: 50px;
}

div.filler-b li, .text-blob li {
  display: inline;
}

#work-history {
  position: relative;
  margin: 40px auto 30px auto;
  border-radius: 25px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90ch;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#work-history h2 {
  margin: 0 auto 15px auto;
}

#work-history artical {
  border-bottom: 5px solid var(--secondBG-color);
  padding: 1em 0 0.5em 0;
}

#work-history artical .text-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}
/*# sourceMappingURL=one-pg-profile.css.map */