extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/form-style.css")

block content
  form(action="/login", method="post" class='shadow-block')
    h1 Please Sign In.
    .form-frame
      label(for="userName") User Name:
      input(type="text", name="username", placeholder="AwsomeSause99")
      label(for="passWrdOne") Pass Phrase:
      input(type="password", name="password", id='passWrdOne', placeholder="live2Code")
    button(type="submit") Submit


block append scripts
  script(src="/scripts/log-in.js")