extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/form-style.css")

block content
  #regNewUser
  
block append scripts
  script(src="https://unpkg.com/react@17/umd/react.development.js" crossorigin)
  script(src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin)
  script(src='https://unpkg.com/babel-standalone@6/babel.min.js')
  script(src="/scripts/react-register.jsx" type='text/babel')
      