extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/form-style.css")

block content
  #regNewUser
  
block append scripts
  script(src="/scripts/react-register.js" )
      