extends ../main-base.pug

//- block append style

block content
  #charSheetRoot
  
//- block append scripts  
block append scripts
  script(src="/scripts/character-creater/index.js" type="module")
      