extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/artical-template.css")

block localNav
    ul
        li test 1
        li test 2
        li test 3

block content
    h1 Title
    br
    h4 Sub-Title
    br
    article.artBody
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore nesciunt, incidunt mollitia ipsum natus porro doloremque quo, neque officia laudantium, dignissimos ex eum eius officiis saepe ullam quia aperiam voluptates.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore nesciunt, incidunt mollitia ipsum natus porro doloremque quo, neque officia laudantium, dignissimos ex eum eius officiis saepe ullam quia aperiam voluptates.
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore nesciunt, incidunt mollitia ipsum natus porro doloremque quo, neque officia laudantium, dignissimos ex eum eius officiis saepe ullam quia aperiam voluptates.
