extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/main-blog.css")

block content
    if(admin)
        a(href='/blog/article' class="reactive-block brief-blog")
            h1 Creat New Post
            p This is the where you can go to start a new blog post
    include ../includes/postBriefs