extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/main-blog.css")

block localNav
    ul
        li test 1
        li test 2
        li test 3

block content
    each item in articles
        a.brief-blog(href='/blog/article/' + item.id)
            h1 #{item.title}
            p #{item.summery}
