extends ../main-base.pug

block append style
    link(rel="stylesheet", href="/css/main-blog.css")

block localNav
    ul
        li test 1
        li test 2
        li test 3

block content
    if(admin)
        a.brief-blog(href='/blog/article')
            h1 Creat New Post
            p This is the where you can go to start a new blog post
    include ../includes/postBriefs